<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA6MhWzfCkev5nSCC-x9NOrIPuYzX-AVY8</string>
	<key>GCM_SENDER_ID</key>
	<string>44019747979</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.vojtechkalivoda.Just1000Words</string>
	<key>PROJECT_ID</key>
	<string>just1000words-6e706</string>
	<key>STORAGE_BUCKET</key>
	<string>just1000words-6e706.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:44019747979:ios:7b61df58367a25435f588e</string>
</dict>
</plist>